body {
    padding-top: 56px;
  }

  table, th, td {
    border: 1px solid black;
  }

  .navbar {
    background-color: #61bf41!important;
  }

  body { 
    width: 100%;  
  }

  .full-screen {
    width: 100%;
  }

  h1 {
    margin-top: 3%;
  }

  .navigation > ul {
    align-items: center;
  }

  .nav-link.name {
    color:#fff !important;
    text-decoration: underline;
  }

  .nav-link.name:hover {
    font-weight: bold!important;
  }

  .visas_preces {
    padding-left:9%;
  }  

  /* Item view */
  .item_block {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .item_block > .item-instance  {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  /* .item-descr_block {
    display: flex;
    justify-content: space-evenly;
  } */

  .add-to-cart:hover {
    outline:none !important;
    background-color: #8b9194!important;
    border-color: #8b9194!important;
  }

  .add-to-cart2:hover {
    outline:none !important;
    background-color: #8b9194!important;
    border-color: #8b9194!important;
    width: 50%;
    margin: auto;
  }
  
  @media (min-width: 576px) { 

      .carousel-inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-self: center;
  }
}
